{% extends 'base.html' %}
{% block content %}
<style>
.card_change_pass {
 
  border-radius: 12px;
  transition: transform 0.2s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card_change_pass:hover {
  transform: translateY(-2px);
}
form {
    padding: 15px;
}
.btn-change_pass{
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
</style>

<div class="container mt-5 card_change_pass" style="max-width: 400px;">
    <h3 style="text-align:center; padding-top:20px; color: #1e4db7;">Đổi mật khẩu</h3>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3 position-relative">
             {{ form.old_password.label(class="form-label fw-bold") }}
            <div class="input-group">
                {{ form.old_password(class="form-control", type="password", placeholder="Nhập mật khẩu cũ", id="old-password") }}
                <button type="button" class="btn btn-outline-secondary toggle-password" data-target="#old-password" tabindex="-1"><i class="fas fa-eye"></i></button>
            </div>
            {% for error in form.old_password.errors %}<span class="text-danger">{{ error }}</span>{% endfor %}
        </div>
        <div class="mb-3 position-relative">
            {{ form.new_password.label(class="form-label fw-bold") }}
            <div class="input-group">
                {{ form.new_password(class="form-control", type="password", placeholder="Nhập mật khẩu mới", id="new-password") }}
                <button type="button" class="btn btn-outline-secondary toggle-password" data-target="#new-password" tabindex="-1"><i class="fas fa-eye"></i></button>
            </div>
            {% for error in form.new_password.errors %}<span class="text-danger">{{ error }}</span>{% endfor %}
        </div>
        <div class="mb-3 position-relative">
            {{ form.confirm_new_password.label(class="form-label fw-bold") }}
            <div class="input-group">
                {{ form.confirm_new_password(class="form-control", type="password", placeholder="Xác nhận mật khẩu mới", id="confirm-new-password") }}
                <button type="button" class="btn btn-outline-secondary toggle-password" data-target="#confirm-new-password" tabindex="-1"><i class="fas fa-eye"></i></button>
            </div>
            {% for error in form.confirm_new_password.errors %}<span class="text-danger">{{ error }}</span>{% endfor %}
        </div>
        <button type="submit" class="btn btn-primary btn-change_pass">Đổi mật khẩu</button>
    </form>

</div>
{% endblock %} 