{% extends "base.html" %}
{% block content %}
<style>
    .ct_forgot_pass{
        
        margin-top: 80px;
    }
    .forgot_pass{
        h3{
            color: #1e4db7;
        }
    }
</style>
<div class="container ct_forgot_pass">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card shadow-sm" style="padding: 15px;">
                <div class="forgot_pass">
                    <h3 class="text-center my-2">Quên mật khẩu</h3>
                </div>
                <div class="card-body p-3 p-md-4">
                    <form method="POST" action="{{ url_for('auth.forgot_password') }}">
                        {{ form.csrf_token }}
                        <div class="mb-3">
                            {{ form.email.label(class="form-label") }}
                            {{ form.email(class="form-control", placeholder="Nhập email của bạn") }}
                        </div>
                        <div class="mb-3 mt-2">
                            {{ form.submit(class="btn btn-primary w-100 mt-2") }}
                        </div>
                        <div class="text-center mt-3">
                            <a href="{{ url_for('auth.login') }}">Quay lại đăng nhập</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}